 /* Feed css */

 body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
  
.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
  float: left;
  width: 60%;
}

.feed_header {
  position: fixed;
  width: 46.6%;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
}

.post_section{
  margin-top: 90px;
}

.feed::-webkit-scrollbar {
  display: none
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

  /* tweet box */

.tweetbox_input img {
  border-radius: 50%;
  height: 40px;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox_input {
  display: flex;
  padding: 20px;
}

.tweetbox_input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox_tweetButton {
  background-color: var(--twitter-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

.tweetBox_tweetButton:hover {
background: #1f94dd;
}

/* Post */
.post_avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.image-upload {
  margin-left: 80px;
}
.image-upload>input {
  display: none;
}


.post {
margin-left: 20px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  margin-top: 20px;
}

.post_body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post_footer {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.post_badge {
  font-size: 14px !important;
  color:  var(--twitter-color);
  margin-right: 5px;
}

.post_headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post_headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post_headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post_body {
  flex: 1;
  padding: 10px;
}

.mat_menu button {
font-size: 12px;
}

a {
  text-decoration: none;
}
