/* Feed css */

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}
  
.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    float: left;
    width: 60%;
}

.feed_header {
  position: fixed;
  width: 46.6%;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
}
   
.feed::-webkit-scrollbar {
    display: none
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Post */
.post_avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.followButton {
  float: right;
  width: 90px; 
  height: 30px; 
  font-size: 13px; 
  background-color: #50b7f5; 
  color: white
}

.followButton:hover {
  background: #1f94dd;
}

.post {
  width: 500px;
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 5px;
  padding-top: 0px;
  border-bottom-width: 0px;
}

.post_body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.post_headerSpecial {
 font-weight: 600;
 font-size: 12px;
 color: gray;
}

.post_headerText h3 {
 font-size: 15px;
 margin-bottom: 5px;
}

.post_headerDescription {
 margin-bottom: 0px;
 font-size: 15px;
}

.post_headerDescription p {
  margin-bottom: 0px;
}

.mat_menu button {
 font-size: 12px;
}


   