<!-- feed starts -->
<div class="feed">
    <div class="feed_header">
      <i routerLink="/" style="cursor: pointer; color: #50b7f5; float: left;" class="fa fa-chevron-left"></i>
      <h2 style="text-align: center;">Tweet</h2>
    </div>

    <div *ngIf="status === false">
      <h2 style="text-align: center; margin-top: 150px;">Loading...</h2>
    </div>

    <div *ngIf="status === true" class="post_section">
      <!-- Post starts -->
      <div *ngIf="showTweet">
        <div *ngFor="let user of users">
          <div *ngIf="tweet?.tweetedBy === user?.username">
            <div class="post">
              <div class="post_avatar">
                <img [src]="user?.profilePicture" alt="">
              </div>
        
              <div class="post_body">
                <div class="post_header">
                  <button style="float: right; font-size: 30px; " mat-button [matMenuTriggerFor]="menu">...</button>
                  <mat-menu #menu="matMenu">
                    <div class="mat_menu" *ngIf="username === user.username">
                      <button (click)="onDeleteTweet()" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">delete</mat-icon>
                        Delete Tweet
                      </button>
                      <button *ngIf="tweet?.tweetPinned === false" (click)="onPinTweet(tweet?.id)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">push_pin</mat-icon>
                        Pin to your profile
                      </button>
                      <button *ngIf="tweet?.tweetPinned === true" (click)="onPinTweet(tweet?.id)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">push_pin</mat-icon>
                        Unpin to your profile
                      </button>
                      <button (click)="onAddTweetToList(tweet?.id)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">playlist_add</mat-icon>
                        Add/remove from Lists
                      </button>
                    </div>
                    <div class="mat_menu" *ngIf="username !== user.username">
                      <button (click)="onHideTweet(tweet?.id)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">sentiment_very_dissatisfied</mat-icon>
                        Not interested in this Tweet
                      </button>
                      <button *ngIf="tweet?.userFollowed === false" (click)="onFollowUser(user?.username)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">person_add</mat-icon>
                        Follow @{{user?.firstName}}
                      </button>
                      <button *ngIf="tweet?.userFollowed === true" (click)="onFollowUser(user?.username)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">person_add</mat-icon>
                        Following @{{user?.firstName}}
                      </button>
                      <button (click)="onAddTweetToList(tweet?.id)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">playlist_add</mat-icon>
                        Add/remove from Lists
                      </button>
                      <button *ngIf="tweet?.userMuted === false" (click)="onMute(user?.username)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">volume_off</mat-icon>
                        Mute @{{user?.firstName}}
                      </button>
                      <button *ngIf="tweet?.userMuted === true" (click)="onMute(user?.username)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">volume_off</mat-icon>
                        Unmute @{{user?.firstName}}
                      </button>
                      <button *ngIf="tweet?.userBlocked === false" (click)="onBlock(user?.username)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">block</mat-icon>
                        Block @{{user?.firstName}}
                      </button>
                      <button *ngIf="tweet?.userBlocked === true" (click)="onBlock(user?.username)" mat-menu-item>
                        <mat-icon style="color: #50b7f5;">block</mat-icon>
                        Unblock @{{user?.firstName}}
                      </button>
                    </div>
                  </mat-menu>
                  <div class="post_headerText">
                    <a [routerLink]="['/profile', user?.id]">
                      <h3> {{user?.firstName}} {{user?.lastName}}
                        <span class="post_headerSpecial">
                          <span class="material-icons post_badge"> verified </span>@{{user?.firstName}}
                        </span>
                      </h3>
                    </a>
                  </div>
                  <div *ngIf="tweet?.tweetBody !== 'null'" class="post_headerDescription">
                    <p >{{ tweet?.tweetBody }}</p>
                  </div>
                </div>
                <div *ngIf="tweet?.tweetImage !== undefined">
                  <img [src]="tweet?.tweetImage" alt="">
                </div>  
              
                <div class="post_time">
                  {{ tweet?.time }}
                </div>
                <hr>
                <div class="post_footer">
                  <table>
                    <tr>
                      <td>
                        <div *ngIf="tweet?.isUserLiked === true">
                          <button (click)="onLikeTweet(tweet?.id)" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                            <mat-icon>favorite</mat-icon>
                          </button>
                        </div>
                        <div *ngIf="tweet?.isUserLiked === false">
                          <button (click)="onLikeTweet(tweet?.id)" mat-icon-button  aria-label="Example icon button with a heart icon">
                            <mat-icon style="color: #50b7f5;">favorite</mat-icon>
                          </button>
                        </div>
                      </td>
                      <td>{{ tweet?.likes }}</td>
                      <td>
                        <i style="font-size: 23px; color: #50b7f5;" class="fa fa-comment"></i></td>
                      <td>{{ tweet?.numberOfComments }}</td>
                      <td>
                        <button mat-icon-button [matMenuTriggerFor]="shareMenu">
                          <mat-icon style="color: #50b7f5;">ios_share</mat-icon>
                        </button>
                        <mat-menu #shareMenu="matMenu">
                          <div *ngIf="tweet?.tweetBookmarked === false" class="mat_menu">
                            <button (click)="onBookmark(tweet?.id)" mat-menu-item>
                              <mat-icon style="color: #50b7f5;">bookmark_add</mat-icon>
                              Bookmark
                            </button>
                          </div>
                          <div *ngIf="tweet?.tweetBookmarked === true" class="mat_menu">
                            <button (click)="onBookmark(tweet?.id)" mat-menu-item>
                              <mat-icon style="color: #50b7f5;">bookmark_add</mat-icon>
                              Remove Bookmark
                            </button>
                          </div>
                        </mat-menu>
                      </td>
                    </tr>
                  </table>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Reply box -->
      <div *ngIf="showTweet">
        <div class="tweetBox">
          <form #replyData="ngForm" (ngSubmit)="onAddComment(replyData)">
            <div class="tweetbox_input">
              <div *ngIf="users">
                <div *ngFor="let user of users">
                  <div *ngIf="username === user?.username">
                    <img [src]="user.profilePicture" alt="">
                  </div>
                </div>
              </div>
              <input type="text" name="commentBody" placeholder="Tweet your reply" ngModel>
              <input type="hidden" name="tweetId" ngModel="{{tweet?.id}}">
            </div>
            <div class="image-upload">
            <label style="cursor: pointer;" for="file-input">
              <span class="material-icons"> perm_media </span>
    
            </label>
            <input id="file-input" type="file" (change)="onFileChanged($event)">
          </div>
            <button type="submit" class="tweetBox_tweetButton">Reply</button>
          </form>
        </div>
      </div>

      <!-- Replies -->
      <div *ngIf="showTweet">
        <div *ngFor="let comment of tweet.comments">
          <div  *ngFor="let user of users">
            <div *ngIf="comment?.commentedBy === user?.username">
              <div class="post">
                <div class="post_avatar">
                  <img [src]="user?.profilePicture" alt="">
                </div>
          
                <div class="post_body">
                  <div class="post_header">
                    <button style="float: right; font-size: 30px; " mat-button [matMenuTriggerFor]="menu">...</button>
                    <mat-menu #menu="matMenu">
                      <div class="mat_menu" *ngIf="username === user.username">
                        <button (click)="onDeleteComment(comment?.id)" mat-menu-item>
                          <mat-icon style="color: #324e5f;">delete</mat-icon>
                          Delete Comment
                        </button>
                      </div>
                      <div class="mat_menu" *ngIf="username !== user.username">
                        <button *ngIf="comment?.userFollowed === false" (click)="onFollowUser(user?.username)" mat-menu-item>
                          <mat-icon style="color: #50b7f5;">person_add</mat-icon>
                          Follow @{{user?.firstName}}
                        </button>
                        <button *ngIf="comment?.userFollowed === true" (click)="onFollowUser(user?.username)" mat-menu-item>
                          <mat-icon style="color: #50b7f5;">person_add</mat-icon>
                          Following @{{user?.firstName}}
                        </button>
                        <button *ngIf="comment?.userMuted === false" (click)="onMute(user?.username)" mat-menu-item>
                          <mat-icon style="color: #50b7f5;">volume_off</mat-icon>
                          Mute @{{user?.firstName}}
                        </button>
                        <button *ngIf="comment?.userMuted === true" (click)="onMute(user?.username)" mat-menu-item>
                          <mat-icon style="color: #50b7f5;">volume_off</mat-icon>
                          Unmute @{{user?.firstName}}
                        </button>
                        <button *ngIf="comment?.userBlocked === false" (click)="onBlock(user?.username)" mat-menu-item>
                          <mat-icon style="color: #50b7f5;">block</mat-icon>
                          Block @{{user?.firstName}}
                        </button>
                        <button *ngIf="comment?.userBlocked === true" (click)="onBlock(user?.username)" mat-menu-item>
                          <mat-icon style="color: #50b7f5;">block</mat-icon>
                          Unblock @{{user?.firstName}}
                        </button>
                      </div>
                    </mat-menu>
                    <div class="post_headerText">
                      <a [routerLink]="['/profile', user?.id]">
                        <h3> {{user?.firstName}} {{user?.lastName}}
                          <span class="post_headerSpecial">
                            <span class="material-icons post_badge"> verified </span>@{{user?.firstName}}
                          </span>
                          ' {{ comment?.time }}
                        </h3>
                      </a>
                    </div>
                    <div [routerLink]="['/commentReply', comment?.id, tweet?.id]" style="cursor: pointer;" *ngIf="comment?.commentBody !== 'null'" class="post_headerDescription">
                      <p >{{ comment?.commentBody }}</p>
                    </div>
                  </div>
                  <div [routerLink]="['/commentReply', comment?.id, tweet?.id]" style="cursor: pointer;" *ngIf="comment?.commentImage !== undefined">
                    <img [src]="comment?.commentImage" alt="">
                  </div>  
                  
                  <div class="post_footer">
                    <table>
                      <tr>
                        <td>
                          <div *ngIf="comment?.isUserLiked === true">
                            <button (click)="onLikeComment(comment?.id)" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                              <mat-icon>favorite</mat-icon>
                            </button>
                          </div>
                          <div *ngIf="comment?.isUserLiked === false">
                            <button (click)="onLikeComment(comment?.id)" mat-icon-button  aria-label="Example icon button with a heart icon">
                              <mat-icon style="color: gray;">favorite</mat-icon>
                            </button>
                          </div>
                        </td>
                        <td> {{ comment?.commentLikes }} </td>
                        <td>
                          <i [routerLink]="['/commentReply', comment?.id, tweet?.id]" style="cursor: pointer; font-size: 23px; color: #50b7f5;" class="fa fa-comment"></i>
                        </td>
                        
                        <td>{{ comment?.numberOfCommentReplies }}</td>
                        <td><span class="material-icons"> ios_share </span></td>
                      </tr>
                    </table>
                  </div>
                  
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  Post ends -->
    </div>
    

  </div>


